* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

:root {
  --color-gray: rgb(98, 96, 96);
  --color-red: rgb(169, 18, 18);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
